body{
    margin-bottom:100px;
    margin-top:50px;
    background-image: url(main1.jpg);
    background-size: cover;
}
#main{
    position:static;
}
#mainphoto{
    background-color:green;
}
#heading{
    color:white;
}
tr{
    padding:10px;
}
td{
    padding:20px;
}
th{
    padding:20px;
}
#batting{
    border-style:groove;
    border-color:red;
    display:inline-block;
}
#sum{
    font-size:30px;
    display:block;
}
#sum:hover{
    color:red;
}